body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #27262c;
  }

  h1{
    text-align: center;
    font-family:'Times New Roman', Times, serif
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgb(218, 50, 73);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  form label {
    display: block;
    margin-top: 10px;
  }
  
  form input,
  form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ecdede;
    border-radius: 5px;
  }
  
  button {
    background-color: #030a11;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #preview {
    margin-top: 20px;
  }
  
  .hidden {
    display: none;
  }
  